<html>
  <head>
    <title>Properties</title>
  </head>
  <body>
    <h1>Properties</h1>
    Click to veto
    <ul>
      {% for property in properties %}
      <li>
        {% if property.vetoed == True %} <s>{{property.name}}</s> (vetoed) {%
        else %}
        <a href="/user/anonymous/veto/property/{{property.name}}"
          >{{property.name}}</a
        >
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h2>Create a Property</h2>
    <form method="POST" action="/create/property/">
      <!--div class="mb-3"-->
      <input
        type="text"
        required
        class="form-control"
        name="name"
        id="name"
        value="{{name}}"
        placeholder="Property name here"
      />
      <!--/div-->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
  <script>
    document.getElementById("name").focus();
  </script>
</html>
