<html>
  <head>
    <title>Properties</title>
  </head>
  <body>
    <h1>Suggestion And Veto Tool</h1>
    <h2>View</h2>
    Click on property names to veto
    <h3>Objects</h3>
    <ul>
      {% for object in objects %}
      <li>
        {{object.name}}
        <ul>
          {% for property in object.properties %}

          <li>
            {% if property.vetoed_by|length >0 %}
            <s>{{property.name}}</s> (vetoed
            <a
              href="/user/anonymous/unveto/object/{{object.name}}/property/{{property.name}}"
              >undo</a
            >) {% else %}
            <a
              href="/user/anonymous/veto/object/{{object.name}}/property/{{property.name}}"
              >{{property.name}}</a
            >
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <h4>Properties without Objects</h4>
    <ul>
      {% for property in properties %}
      <li>
        {% if property.vetoed_by|length >0 %} <s>{{property.name}}</s> (vetoed)
        {% else %}
        <a href="/user/anonymous/veto/property/{{property.name}}"
          >{{property.name}}</a
        >
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h2>Create</h2>

    <h3>Object</h3>
    <form method="POST" action="/create/object/">
      Create
      <input
        type="text"
        required
        name="name"
        id="obj_name"
        value="{{name}}"
        placeholder="Object"
      />
      <button type="submit">Submit</button>
    </form>

    <h3>Property</h3>
    <form method="POST" action="/create/property/">
      Create
      <input
        type="text"
        required
        name="name"
        id="prop_name"
        value="{{name}}"
        placeholder="Property"
      />
      in
      <select name="object_id">
        <option value="">Object</option>
        {% for object in objects %} {% if object.id == object_id %}
        <option value="{{object.id}}" selected>{{object.name}}</option>
        {% else %}
        <option value="{{object.id}}">{{object.name}}</option>
        {% endif %} {% endfor %}
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
  <script>
    document.getElementById("prop_name").focus();
  </script>
</html>
